.shadow
{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.brd
{
    border-bottom: 1px solid #e5e5e5;
}
.div-table-content {
    height:650px;
    overflow-y:auto;
    margin-bottom: 20px;
}
.radi
{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height:80px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
{
    background-color:#5cb85c;   
    border-color:#4cae4c;
}
.list-group-item
{
    padding: 20px;

}
.inline
{
    display:inline;

}
.bbb{
    margin-top:0px;
    width:100%;
    height:100%;
}
.maxer
{
    width:100%;
    height:100%;
}
.coleft{
    width:75%;
    display: inline;
}
.coridght{
    width:20%;
    display: inline;
}
.inner-wrapper {
    padding:20px 20px 0px 20px;
    position: absolute;
    top:50%;
    width: 500px;
    
    left: 50%;	
    margin-left: -250px;	
    margin-top: -110px;	
    z-index: 100; /* текст не размыт */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.blur {
    background-image: url(../../../admin_panel/images/background.jpg);
    z-index: 99; /* изображение размыто */
    width:100%;
    height:100%;
    background-size: cover;
    backgroun-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    filter: url('../../../admin_panel/images/blur.svg#blur'); /* путь к svg */
}
.list-group-item {
    height: 100px;
}

.shadow-block{
    background-color: #fff;
    padding: 1px 5px 10px 10px;
    margin-top: 5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    /* border-radius: 2px; */
    border: 0;
}
.shadow-block .footer{
    border-top: 1px solid #e2e2e2;
    padding: 5px;
    font-size: 15px;
}
.shadow-block .footer span i{
    font-size: 17px;
}
.shadow-block .footer span{
    opacity: .7;
    cursor: pointer;
}
/*.fixed{*/
    /*top: 52px;*/
    /*background-color: #fff;*/
    /*position:fixed;*/
    /*width:auto;*/
    /*display:table;*/
    /*border:none;*/
/*}*/
/*.container-fixed{*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/
/*table{*/
    /*border-collapse:collapse;*/
    /*width:100%;*/
/*}*/

.img-circle {
    border-radius: 50%;
}
.img-user{
    height: 25px;
    margin-right: 5px;
}

.user-alert{
    width:230px;
    padding-left: 3px;
    /*border-bottom: 1px solid #c1c1c1;*/
    cursor: pointer;
}
.user-alert small{
    position: absolute;
    right: 20px;
    color: #9C9C9C;
}

/*comment block*/

.comment {
    opacity: 0.5;
}
.comment.approved {
    opacity: 1;
}
