.shadow
{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.brd
{
    border-bottom: 1px solid #e5e5e5;
}
.div-table-content {
    height:650px;
    overflow-y:auto;
    margin-bottom: 20px;
}
.radi
{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height:80px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
{
    background-color:#5cb85c;   
    border-color:#4cae4c;
}
.list-group-item
{
    padding: 20px;

}
.inline
{
    display:inline;

}
.bbb{
    margin-top:0px;
    width:100%;
    height:100%;
}
.maxer
{
    width:100%;
    height:100%;
}
.coleft{
    width:75%;
    display: inline;
}
.coridght{
    width:20%;
    display: inline;
}
.inner-wrapper {
    padding:20px;
    position: absolute;
    top:50%;
    width: 500px;
    height: 220px;
    left: 50%;	
    margin-left: -250px;	
    margin-top: -110px;	
    z-index: 100; /* текст не размыт */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
.blur {
    background-image: url(../../../admin_panel/images/background.jpg);
    z-index: 99; /* изображение размыто */
    width:100%;
    height:100%;
    background-size: cover;
    backgroun-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    filter: url('../../../admin_panel/images/blur.svg#blur'); /* путь к svg */
}
.list-group-item {
    height: 100px;
}