body{
    min-width: 1000px;
    overflow: auto;
}
.navbar-toggle .icon-bar{
    background-color: #000;
}
.shadow{
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); 
}
.brd
{
    border-bottom: 1px solid #e5e5e5;
}
.div-table-content {
    height:650px;
    overflow-y:auto;
    margin-bottom: 20px;
}
.radi{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height:80px;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color:#5cb85c;   
    border-color:#4cae4c;
}
.list-group-item
{
    padding: 20px;

}
.inline
{
    display:inline;

}
.bbb{
    margin-top:0px;
    width:100%;
    height:100%;
}
.maxer{
    width:100%;
    height:100%;
}
.coleft{
    width:75%;
    display: inline;
}
.coridght{
    width:20%;
    display: inline;
}
.inner-wrapper {
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    position: absolute;
    top:50%;
    width: 500px;+
    height: 172px;
    left: 50%;
    margin-left: -250px;	
    margin-top: -110px;	
    z-index: 100; /* текст не размыт */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}
@media screen and (max-width:1000px) { /* Минимум 512 цветов */
    .inner-wrapper {
        padding-left: 40px;
        padding-top: 20px;
        padding-right: 40px;
        position: absolute;
        top:50%;
        width: 500px;
         height: 172px;
        left: 450px;
        margin-left: -250px;
        margin-top: -110px;
        z-index: 100; /* текст не размыт */
        text-align: center;
        background-color: rgba(255, 255, 255, 0.8);
    }
}
.blur {
    background-image: url(../../../admin_panel/images/background.jpg);
    z-index: 99; /* изображение размыто */
    width:100%;
    height:100%;
    background-size: cover;
    backgroun-repeat: no-repeat;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    filter: blur(5px);
    filter: url('../../../admin_panel/images/blur.svg#blur'); /* путь к svg */
}
.list-group-item {
    height: 100px;
}

.shadow-block{
    background-color: #fff;
    padding: 1px 5px 10px 10px;
    margin-top: 5px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    /* border-radius: 2px; */
    border: 0;
}
.shadow-block .footer{
    border-top: 1px solid #e2e2e2;
    padding: 5px;
    font-size: 15px;
}
.shadow-block .footer span i{
    font-size: 17px;
}
.shadow-block .footer span{
    opacity: .7;
    cursor: pointer;
}
/*.fixed{*/
    /*top: 52px;*/
    /*background-color: #fff;*/
    /*position:fixed;*/
    /*width:auto;*/
    /*display:table;*/
    /*border:none;*/
/*}*/
/*.container-fixed{*/
    /*position: relative;*/
    /*width: 100%;*/
/*}*/
/*table{*/
    /*border-collapse:collapse;*/
    /*width:100%;*/
/*}*/

.img-circle {
    border-radius: 50%;
}
.img-user{
    height: 25px;
    margin-right: 5px;
}

.user-alert{
    width:230px;
    padding-left: 3px;
    /*border-bottom: 1px solid #c1c1c1;*/
    cursor: pointer;
}
.user-alert small{
    position: absolute;
    right: 20px;
    color: #9C9C9C;
}

/*comment block*/

.comment {
    opacity: 0.5;
}
.comment.approved {
    opacity: 1;
}


/*myWizard*/

#myWizard{
    position: fixed;
    z-index: 9999;
    background-color: #fff;
    width: 100%;
    top:0;
    left: 0;
    height: 100%;
    overflow: auto;
    -webkit-box-shadow: 3px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    3px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         3px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -webkit-transition: .7s all;
}
#myWizard.left{
    margin-left: -100%;
}
#myWizard.right{
    margin-left: 0;
}
#myWizard.half{
    margin-left: -98%;
}
#myWizard .step-body{
    margin-bottom: 80px;
    position: relative;
}
#myWizard .step-footer{
    position: fixed;
    background-color: #fff;
    bottom: 0;
    width: 97%;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 5px;
    border-top: 1px solid #c1c1c1;
    z-index: 9999;
}
#myWizardMini{
    position: absolute;
    right: 1px;
    top: 15px;
}
.control-block{
    position: absolute;
    right: 0;
}
.detail-view{
    border-bottom: 5px solid #ef9c00;
}
.detail-view:hover{
    background-color: #fff!important;
}
.box-shadow{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0, .65);
    -moz-box-shadow: 0 0 10px rgba(0,0,0, .65);
    box-shadow: 0 0 10px rgba(0,0,0, .65);
}

.comments-table tr{
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    background-color: #E1E1E1;
    color: #000;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    width: 100%;
    position: relative;
}

.comments-table tr.Approved .card-view:first-child{
    color:#2db72d;
}

.comments-table tr.Canceled .card-view:first-child{
    color:rgb(212, 17, 11);
}

.comments-table tr .card-view:first-child{
    /*width:0px!important;*/
}

/*.comments-table tr:nth-child(even){*/
    /*background-color:#4679BD;*/
    /*color:#fff;*/
/*}*/

.comments-table{
    border-bottom: none!important;
}

.fixed-table-container{
    border: 0px!important;
}

.comments-table .card-view .title {
    min-width: 0!important;
    width: 0 !important;;
}

.comments-table tbody>tr:hover {
    background-color: #B5B5B5!important;
}

/*.comments-table tbody>tr:nth-child(even):hover {*/
    /*background-color: #5E9FF7!important;*/
/*}*/

.comments-table tr td .card-view:last-child{
    font-size: 0.8em;
    float: right;
    margin-top: 15px;
    opacity: .6;
}
legend{
    margin-bottom: 5px!important;
}
.filter-option small{
    margin-left: 5px;
}