/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.04.2016, 11:15:22
    Author     : e_bragin
*/
@media print {
    body {  
        margin-top: 0px;
    } 
    .label {
        border:none;
    }
    .btn{
        display: none;
    }
    #wrapper {
        padding-left: 0px;
    }
    legend {
        border-bottom: none;
    } 
    #pagebreaker{
        page-break-after: always;
    }
    .glyphicon-send{
        display:none;
    }
    .iominfo {
        border: none  !important;
        padding: 0px  !important;
    }
}